/* ALL PRODUCTS */

#products-heading {
    margin-top: 150px;
    border-bottom: 4px solid orangered;
    padding-bottom: 40px;
    margin-bottom: 50px;
}


/* Search box adapted from: https://www.youtube.com/watch?v=LIt719I-p-o&t=337s&ab_channel=OnlineTutorials*/

#product-search {
    position: relative;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

#product-search::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -7px;
    width: 12px;
    height: 65px;
    background: linear-gradient(rgb(210, 210, 210)
    , rgb(200, 200, 200), rgb(190, 190, 190));
    z-index: 1;
    filter: blur(1px);
}

#product-search:hover {
    width: 70%;
}

#product-search::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -10px;
    width: 10px;
    height: 65px;
    background: rgb(177, 177, 177);
    z-index: 1;
    filter: blur(3px);
}

.shadow {
    position: absolute;
    top: -10px;
    left: -70px;
    width: calc(100% + 80px);
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent, transparent);
    transform-origin: top;
    transform: skew(50deg);
    pointer-events: none;
    z-index: -1;
}

.shadow::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 60px;
    background:  rgb(240, 240, 240);
    z-index: 1;
}

#product-search input {
    position: relative;
    width: 100%;
    height: 100;
    border: none;
    padding: 10px 25px;
    outline: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(249, 248, 255), rgb(193, 200, 216));
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #fff;
    
}

#product-search input::placeholder {
    font-size: 1.5rem;
    color: black;
}

#product-search-icon {
    position: absolute;
    right: 20px;
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;

}

.product-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    cursor: pointer;
}

.product-card-image {
    height: 550px;
}

.product-card-name {
    font-size: 1.3rem;
    color: black;
}

.product-card-price {
    margin-top: 20px;
    color: orangered;
    font-size: 1.3rem;
}

#main-footer {
    margin-top: 150px;
}

/* PRODUCT DETAIL */

.product-detail-heading {
    margin-top: 300px;
}

.product-detail-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 300px;
    cursor: pointer;
}

.product-detail-card-image {
    height: 600px;
}

.product-detail-price {
    color: orangered;
}

.product-detail-description {
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

/* MEDIUM SCREENS */

@media (max-width: 992px) {

    .product-detail-heading {
        margin-top: 300px;
    }

    .product-detail-card {
        margin-top: 300px;
    }

}

/* SMALL SCREENS */

@media (max-width: 425px) {

    #product-search {
        width: 100%;
    }

    #product-search:hover {
        width: 100%;
    }

    .product-detail-heading {
        margin-top: 50px;
    }

    .product-detail-card {
        height: 700px;
        max-width: 100%;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .product-card-image {
        height: 500px;
    }

}