/* ALL PRODUCTS */

#products-heading {
    margin-top: 150px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    border-bottom: 4px solid black;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
#products-heading a{
    color: orangered;
}


/* Search box adapted from: https://www.youtube.com/watch?v=LIt719I-p-o&t=337s&ab_channel=OnlineTutorials*/

#product-search {
    position: relative;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

#product-search::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -7px;
    width: 12px;
    height: 65px;
    background: linear-gradient(rgb(210, 210, 210)
    , rgb(200, 200, 200), rgb(190, 190, 190));
    z-index: 1;
    filter: blur(1px);
}

#product-search::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -10px;
    width: 10px;
    height: 65px;
    background: rgb(177, 177, 177);
    z-index: 1;
    filter: blur(3px);
}

#product-search input {
    position: relative;
    width: 100%;
    height: 100;
    border: none;
    padding: 10px 25px;
    outline: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(249, 248, 255), rgb(193, 200, 216));
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1), inset 1px 1px 2px #fff;
    
}

#product-search input::placeholder {
    font-size: 1.5rem;
    color: black;
}

#product-search-icon {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;

}

.filter-button {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    color: orangered;
    padding: 0.7em 1.7em;
    font-size: 1.5rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a3a3a3,
        -6px -7px 12px #ffffff;
    font-weight: bold;
}

.filter-button:last-child {
    margin-bottom: 25px;
}

.filter-button:hover {
    color: orangered;
    font-size: 1.6rem;
  }
  
.filter-button:active {
   color: orangered;
   background: #e8e8e8;
   box-shadow: inset 4px 4px 12px #c5c5c5,
     inset -4px -4px 12px #ffffff;
   font-size: 1.5rem;
  }
 
.filter-button a {
    color: orangered;
  }

.sort-button {
    margin-top: 250px;
    border: none;
    color: orangered;
    font-size: 1.2rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a3a3a3,
        -6px -7px 12px #ffffff;
    font-weight: bold;
    font-family: 'Montserrat';
    padding: 0.5em 2em;
}

.sort-button:hover {
    color: orangered;
    background-color: #e8e8e8;
    font-size: 1.3rem;
  }

.sort-button:active {
    color: orangered;
    background: #e8e8e8;
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
    font-size: 1.2rem;
   }

ul.dropdown-content li a{
    color: orangered; /* no need for !important :) */
}

.search-fail-panel {
    height: fit-content;
    margin-left: 25%;
    width: 50%;
    margin-top: 125px;
    margin-bottom: 125px;
    padding: 30px;
    font-size: 1rem;
    line-height: 1.4rem;
    background: rgb(252, 252, 252);
    border-radius: 50px;
    box-shadow: 15px 15px 25px rgb(160, 160, 160),
    -5px -5px 15px rgb(160, 160, 160),
    inset -5px -5px 10px rgb(189, 189, 189);
}

.search-fail-heading {
    font-size: 3rem;
    color: orangered;
}
.search-fail-text {
    font-size: 1.6rem;
    color: black;
    line-height: 2rem;
}

.product-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    cursor: pointer;
}

.product-card-image {
    height: 550px;
}

.product-card-name {
    font-size: 1.3rem;
    color: black;
}

.product-card-price {
    margin-top: 20px;
    color: orangered;
    font-size: 1.3rem;
}

#main-footer {
    margin-top: 150px;
}

/* PRODUCT DETAIL */

.product-detail-heading {
    margin-top: 300px;
}

.product-detail-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.product-detail-card-image {
    height: 600px;
}

.product-admin-button {
    margin-top: 50px;
}

.product-detail-price {
    color: orangered;
}

.product-detail-description {
    font-size: 1.5rem;
}

#product-detail-quantity {
    margin-bottom: 15px;
}

.product-detail-button {
    border: none;
    color: orangered;
    font-size: 1.1rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a3a3a3,
        -6px -7px 12px #ffffff;
    font-weight: bold;
    font-family: 'Montserrat';
    padding: 0.5em 1em;
    margin-left: 25px;
    width: max-content;
}

.product-detail-button:hover {
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
    cursor: pointer;
}

.product-detail-button:active {
    color: orangered;
    background: #e8e8e8;
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
    font-size: 1.1rem;
}

.product-detail-button:last-child {
    margin-top: 25px;
}

.product-quantity-icon {
    border: none;
    color: orangered;
    font-size: 1.1rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a3a3a3,
        -6px -7px 12px #ffffff;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 10px;
    margin-bottom: 25px;

}
.product-quantity-icon:first-child {
    color: black;
}

.product-quantity-icon:hover {
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
    cursor: pointer;
}

.product-quantity-icon:active {
    color: orangered;
    background: #e8e8e8;
    box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
    font-size: 1.1rem;
}

.product-quantity-icon:first-child {
    color: black;
}

.product-quantity-icon:first-child:active {
    color: black;
}

/* MEDIA QUERIES */

/* MEDIUM SCREENS */

@media (max-width: 992px) {

    .product-detail-heading {
        margin-top: 50px;
    }

    .product-detail-card {
        margin-top: 100px;
    }

}

/* SMALL SCREENS */

@media (max-width: 425px) {

    #product-search {
        width: 100%;
    }

    #product-search:hover {
        width: 100%;
    }

    .search-fail-panel {
        height: fit-content;
        margin-left: 2.5%;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        padding-top: 10px;
        font-size: 1rem;
        line-height: 1rem;
    }

    .product-detail-heading {
        margin-top: 50px;
    }

    .product-detail-card {
        height: 700px;
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .product-card-image {
        height: 500px;
    }

}

/* PRODUCT MANAGEMENT */

.product-management-heading {
    margin-top: 100px;
    font-size: 2.5rem;
    color: orangered !important;
}

.product-management-sub-heading {
    color: orangered;
    border-bottom: solid 1px black;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#product-management-form-container {
    border: #555 solid 3px;
    padding: 40px;
    margin-top: 50px;
}

.product-management-form {
    color: orangered;
}