/* ALL PRODUCTS */

#products-heading {
    margin-top: 100px;
    border-bottom: 3px solid orangered;
    padding-bottom: 40px;
}

.product-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    cursor: pointer;
}

.product-card-image {
    height: 550px;
}

.product-card-name {
    font-size: 1.3rem;
}

.product-card-price {
    margin-top: 20px;
    color: orangered;
    font-size: 1.3rem;
}

/* PRODUCT DETAIL */

.product-detail-heading {
    margin-top: 300px;
}

.product-detail-card {
    height: 700px;
    max-width: 450px;
    border-bottom-right-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 300px;
    cursor: pointer;
}

.product-detail-card-image {
    height: 600px;
}

.product-detail-price {
    color: orangered;
}

.product-detail-description {
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

/* MEDIUM SCREENS */

@media (max-width: 992px) {

    .product-detail-heading {
        margin-top: 300px;
    }

    .product-detail-card {
        margin-top: 300px;
    }

}

/* SMALL SCREENS */

@media (max-width: 425px) {

    .product-detail-heading {
        margin-top: 50px;
    }

    .product-detail-card {
        height: 700px;
        max-width: 100%;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .product-card-image {
        height: 500px;
    }

}