<ul id="mobile-sidenav" class="sidenav sidenav-items">
    <li><a class="sidenav-close" href="#!"><i class="fa-solid fa-x red-text"></i>Close</a></li>
    <li><a href="" class="sidenav-close"><i class="fa-solid fa-house sidenav-icon"></i>Home</a></li>
    <li><a href="#membership-scroll-helper" class="sidenav-close"><i class="fa-solid fa-address-card sidenav-icon"></i>Membership</a></li>
    <li><a href="#booking-section" class="sidenav-close"><i class="fa-solid fa-calendar"></i>Booking</a></li>
    <li><a href="#contact-section" class="sidenav-close"><i class="fa-solid fa-message"></i>Contact</a></li>
    <li><a href="" class="sidenav-close"><i class="fa-solid fa-user-plus sidenav-icon"></i>Sign Up</a></li>
    <li><a href="" class="sidenav-close"><i class="fa-solid fa-right-to-bracket sidenav-icon"></i>Log In</a></li>
  </ul>