<ul id="mobile-sidenav" class="sidenav sidenav-items">
    <li><a class="sidenav-close" href="#!"><i class="fa-solid fa-x red-text"></i>Close</a></li>
    <li><a href="{% url 'home' %}" class="sidenav-close"><i class="fa-solid fa-house sidenav-icon"></i>Home</a></li>
    <li><a href="#membership-scroll-helper" class="sidenav-close"><i class="fa-solid fa-address-card sidenav-icon"></i>Membership</a></li>
    <li><a href="{% url 'products' %}" class="sidenav-close"><i class="fa-solid fa-store"></i>Store</a></li>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <li><a class="" href="{% url 'add_product' %}"><i class="fa-solid fa-dolly"></i>Manage Store</a></li>
        {% endif %}
    {% endif %}
    <li><a href="{% url 'view_cart' %}" class="sidenav-close"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
    <li><a href="#contact-section" class="sidenav-close"><i class="fa-solid fa-message"></i>Contact</a></li>
    {% if request.user.is_authenticated %}
    <li><a class="sidenav-close" href="{% url 'profile' %}"><i class="fa-solid fa-user sidenav-icon"></i>My Profile</a></li>
    <li><a id="signOutLink" class="sidenav-close">Log Out<i class="fa-solid fa-right-from-bracket sidenav-icon"></i></a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}" class="sidenav-close"><i class="fa-solid fa-user-plus sidenav-icon"></i>Sign Up</a></li>
    <li><a href="{% url 'account_login' %}" class="sidenav-close"><i class="fa-solid fa-right-to-bracket sidenav-icon"></i>Log In</a></li>
    {% endif %}

  </ul>