{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    {% block corecss %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://kit.fontawesome.com/e44e56cd62.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}

    {% endblock %}

    <title>Valencia Tennis {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar-fixed">
          {% include 'includes/main-nav.html' %}
          {% include 'includes/mobile-nav.html' %}
        </div>
      </header>

      {% if messages %}
        <div class="message-container"></div>
      {% endif %}

      {% block content%}
      {% endblock%}

  <footer id="main-footer">
    <div id="copyright-text" class="center-align">
      <!-- This content is handled by script injection -->
    </div>
  </footer>

    {% block postloadjs %}
      <script src="{% static 'js/main.js' %}" ></script>
    {% endblock %}
    
</body>
</html>