{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">

<div class="">
    <div class="row">
        <div class="col s12 center-align">
            <hr>
            <h2 class="product-management-heading">Product Management</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3" id="product-management-form-container">
            <h5 class="center-align product-management-sub-heading">Add Product</h5>
            <form action="{% url 'add_product' %}" method="POST" class="product-management-form" enctype="multipart/form-data">
                <div>
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class="col s12 m12 center-align">
                    <a href="{% url 'products' %}" class="product-detail-button black-text">
                        <span class=""><i class="fas fa-chevron-left "></i>Cancel</span>
                    </a>
                    <input type="submit" class="product-detail-button" value="Add Product">
                </div>
            </form>
        </div>
    </div>
    {% endblock %}