{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">

<section id="products-section">
    <div class="">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <h2 id="products-heading" class="center-align"><a href="{% url 'products' %}">All Products</a></h2>
                    <form method="GET" action="{% url 'products' %}">
                        <div id="product-search" class="hoverable">
                            <div class="shadow"></div>
                            <input type="text" name="q" placeholder="Search our store...">
                            <button type="submit"><i id="product-search-icon" class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <div id="filter-button-container" class="row center-align">
                            <a href="{% url 'products'%}?category=clothing" class="col s6 offset-s3 m3 offset-m3 filter-button">Clothing</a>
                            <a href="{% url 'products'%}?category=equipment" class="col s6 offset-s3 m3 filter-button">Equipment</a>
                        </div>
                        <div id="sort-button-container" class="row center-align">
                            <a class='dropdown-trigger sort-button center-align' href='#' data-target='dropdown1'>Sort by:</a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li class="sort-option"><a href="{% url 'products' %}?sort=price&direction=asc">Price(Low - High)</a></li>
                                <li class="sort-option"><a href="{% url 'products' %}?sort=price&direction=desc">Price(High - Low)</a></li>
                                <li class="divider" tabindex="-1"></li>
                              </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col s12 m6 xl4">
                  <div class="card product-card hoverable">
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="card-image">
                            {% if product.image %}
                            <img class="product-card-image" src="{{ product.image.url }}">
                            {% else %}
                            <img class="product-card-image" src="{{ MEDIA_URL }}noimage.png">
                            {% endif %}
                            <div class="card-content">
                                <p class="product-card-price">€{{product.price}}</p>
                                <p class="product-card-name">{{product.name}}</p>
                            </div>
                        </div>
                    </a>
                  </div>
                </div>
            {% endfor %}

            {% if not products %}
            <div class="search-fail-panel">
                <h3 class="center-align search-fail-heading">Sorry, no results!</h3>
                <p class="search-fail-text">We weren't able to find a product to match your search! Please try again.</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock%}